/* style.css */
body {
    color: #333;
    font-family: 'Arial', sans-serif;
}

.stRadio > label {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.stRadio > div {
    margin-bottom: 20px;
}

.stForm > div > div > div > div > div {
    margin-bottom: 30px;
}

h1 {
    color: #3498db;
}

h3 {
    color: #2980b9;
}

.stButton > button {
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

.stButton > button:hover {
    background-color: #2980b9;
}